body{
	/* background-color:red; */
}
form {
	margin-top:30px;

display:inline-block;
}

.main {
		
	display: block;
	text-align:center;
}
form {
	border-collapse:separate;

}

.main tr td {
	padding-bottom: 10px;
    
}

td{
	text-align:center;
	display: table-cell;

}
.btnSubmit td {

	margin-left:20px;
	margin-right:20px;
}
.btnSubmit td input {
	margin-left:20px;
	margin-right:20px;
		left:25%;
	position:relative;
	display:inline;

}